
img, canvas, label, h1, h2, h3, h4, h5, p, ul, li, ol, span, a, button, select, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

*{
    font-family: 'Gotham-Light', Arial, sans-serif;
    font-weight: normal;
}

@font-face{
    font-family:'Gotham-Light';
    src: local('Gotham-Light'), url('../fonts/Gotham-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Gotham-Bold';
    src: local('Gotham-Bold'), url('../fonts/Gotham-Bold.ttf') format('truetype');
}

@font-face{
    font-family:'Frontage-Bold';
    src: local('Frontage-Bold'), url('../fonts/Frontage-Bold.otf') format('opentype');
}


html, body{ width: 100%; height: 100%; margin: 0; padding: 0; }

.view-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
}

.view{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	animation: fadeIn 300ms ease both;
	-webkit-animation: fadeIn 300ms ease both;
}

.view.active-view{ display: block; }

@keyframes fadeIn{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

@-webkit-keyframes fadeIn{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

/*=========== HOME START =========*/
#home.view{
	background-image: url(images/background/home.png);
	background-color: #8b0304;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% auto;
}

.navigation {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 75px;
	padding: 12px;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #8b0304;
}

	.navigation__btn {
		float: left;
		width: 23%;
		height: 100%;
	    margin: 0 1%;
    	padding: 19px 5px;
    	box-sizing: border-box;
		background-color: #faf287;

		color: #000;
		font-family: 'Frontage-Bold';
		text-align: center;
    	letter-spacing: -2px;

		border-radius: 6px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

.settings {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}

	.settings__btn {
		float: right;
	    clear: both;
	    width: 70px;
    	height: 70px;
	    background-image: url(images/icons/settings.png);
	    background-size: 80%;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-color: #fff;
    	border-radius: 50%;
    	border-top-left-radius: 50%;
    	border-top-right-radius: 50%;
    	border-bottom-left-radius: 50%;
    	border-bottom-right-radius: 50%;
	}

	.settings__btn--sync {
		display: none;
		float: right;
	    clear: both;
		position: relative;
		width: 50px;
    	height: 50px;
    	margin: 10px 10px 0;
	}

	.settings__btn--sync:after {
		content: "";
		display: block;
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100%;
		background-image: url(images/icons/sync.png);
    	background-size: 65%;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-color: #fff;
    	border-radius: 50%;
    	border-top-left-radius: 50%;
    	border-top-right-radius: 50%;
    	border-bottom-left-radius: 50%;
    	border-bottom-right-radius: 50%;
	}

	.settings__btn--sync:before {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    z-index: 1;
	    transform: translate(-100%, -50%);
	    -webkit-transform: translate(-100%, -50%);
	    padding: 5px 30px 5px 15px;
	    margin-left: 30px;
	    color: #fff;
	    font-family: 'Gotham-Bold';
	    border: 4px solid #fff;
	    background-color: #8b0304;
	    border-top-left-radius: 15px;
	    border-top-right-radius: 0px;
	    border-bottom-left-radius: 15px;
	    border-bottom-right-radius: 0px;
	    white-space: nowrap;
	}
	.settings__btn--sync[data-sync="pointtable"]:before{ content: "Earned: " attr(data-rec); }
	.settings__btn--sync[data-sync="registertable"]:before{ content: "Registered: " attr(data-rec); }
	.settings__btn--sync[data-sync="converttable"]:before{ content: "Converted: " attr(data-rec); }

/*=========== HOME END =========*/

/*=========== RENEW START =========*/
#renew.view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.6);
}

.renew-box {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate( -50%, -50% );
			transform: translate( -50%, -50% );
	padding: 16px;
	background-color: #e8ebf3;
	text-align: center;
}

.renew-box.active-box { display: block; }

	.renew-box__title {
		font-size: 24px;
		font-family: 'Gotham-Bold';
	}

	.renew-box__text {
		width: 60%;
		margin: 10px auto;
		font-size: 14px;
	}

	.renew-box__input {
		position: relative;
		width: 90%;
		height: 40px;
		margin: 15px auto 20px;
		padding: 10px 50px 10px 10px;
		box-sizing: border-box;
		background-color: #fff;
	}

		.renew-box__input input {
		    -webkit-appearance: none;
		    		appearance: none;
		    display: block;
		    width: 100%;
		    height: 100%;
		    outline: 0;
		    border: none;

		    border-radius: 0;
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		    border-bottom-left-radius: 0;
		    border-bottom-right-radius: 0;
		}

		.renew-box__input-scan {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			opacity: 0.5;
			width: 40px;
			height: 100%;
			background-image: url(images/icons/scan.png);
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;
		}



	.renew-box__nav {
		margin-top: 12px;
		overflow: hidden;
	}

		.renew-box__nav-btn {
			float: left;
			width: 40%;
			margin: auto 5%;
		    padding: 10px;
    		box-sizing: border-box;
		}
		.renew-box__nav-btn.back { 
		    background-color: #ccc;
    		color: #717171;
		}
		.renew-box__nav-btn.next { 
			background-color: #6a68e0; 
    		color: #fff;
		}

.renew-box--full {
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate( 0, 0 );
			transform: translate( 0, 0 );

	background-image: url(images/background/corners.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}

	.renew-box--full header {
		padding: 15px;
		overflow: hidden;
	}

	.renew-box--full header:before {
		content: "";
		background-image: url(images/logo/bistro.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
		display: block;
		width: 190px;
		height: 70px;
		float: left;
	}

		.renew-box--full #logout.btn {
			float: right;
			background-color: #8b0304;
			padding: 10px 20px;
			color: #fff;
			border-radius: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

.renew-box--full .user-details {
	text-align: center;
	margin: 10px 0;
}
	
	.user-details__text { font-size: 14px; }
	.user-details__text.with-label:before { content: attr( data-label ); }

	.user-details__text--large { 
		color: #8b0304; 
		font-size: 28px; 
		font-family: 'Gotham-Bold'; 
	}

	#points.user-details__text--large:after { 
		content: " Points"; 
		color: #000; 
		font-size: 22px; 
		font-family: 'Gotham-Light'; 
	}

	#code.user-details__text { color: #999; }

	#birthday.user-details__text ,
	#lastTransaction.user-details__text { margin-bottom: 12px; }

.renew-box--full #submit {
	display: inline-block;
	background-color: #8b0304;
	padding: 10px 30px;
	margin-top: 10px;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*=========== RENEW END =========*/

/*=========== REGISTER START =========*/
#register.view{
	background-image: url(images/background/corners.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}

#register.view header{
	padding: 15px;
	overflow: hidden;
}
#register.view header:before{
	content: "";
	background-image: url(images/logo/bistro.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	width: 190px;
	height: 70px;
	float: left;
}

#register.view #cancelReg.btn{
	float: right;
	background-color: #8b0304;
	padding: 10px 20px;
	color: #fff;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#register.view .form{
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
}

#register.view .form .separator{
	height: 2px;
	width: 130%;
	margin: 30px auto 30px -15%;
	background-color: #8c8c8c;
}

#register.view .form .reg-label{
	font-size: 14px;
	font-family: 'Gotham-Bold';
	text-align: left;
}

#register.view .form .reg-label:after{
	content: "*";
	color: #8b0304;
}

#register.view .form h3{
	font-size: 22px;
	font-family: 'Gotham-Bold';
	text-align: center;
	margin-top: 0;
}

#register.view .form input{
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	padding: 8px;
	margin-bottom: 14px;
	font-size: 22px;
	background-color: transparent;
	outline: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

#register.view .form .reg-date-input{
	height: 43px;
	margin-bottom: 14px;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
}

#register.view .form .reg-date-input select{
	appearance: none;
	-webkit-appearance: none;
	float: left;
	height: 100%;
	margin: 0;
	padding: 8px 18px 8px 8px;
	outline: 0;
	border: none;
	font-size: 22px;
	box-sizing: border-box;

	background-color: transparent;
	background-image: url(images/icons/down_arrow.png);
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: right center;

}

#register.view .form .reg-date-input select:nth-child(1){ width: 35%; }
#register.view .form .reg-date-input select:nth-child(2){ width: 30%; }
#register.view .form .reg-date-input select:nth-child(3){ width: 35%; }

#register.view #submit.btn{
	display: inline-block;
	background-color: #8b0304;
	padding: 10px 30px;
	margin-top: 10px;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
/*=========== REGISTER END =========*/

/*=========== EARN START =========*/
#earn.view{
	background-image: url(images/background/corners.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}

#earn.view header{
	padding: 15px;
	overflow: hidden;
}
#earn.view header:before{
	content: "";
	background-image: url(images/logo/bistro.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	width: 190px;
	height: 70px;
	float: left;
}

#earn.view #logout.btn{
	float: right;
	background-color: #8b0304;
	padding: 10px 20px;
	color: #fff;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#earn.view .form{
	position: relative;
	top: 32%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	margin: 10px auto 20px;
	text-align: center;
	width: 75%;
	max-height: 100%;
	padding: 15px;
	box-sizing: border-box;
}

#earn.view .form #points{ font-size: 32px; color: #8b0304; font-family: 'Gotham-Bold'; }
#earn.view .form #points:after{ content: " Points"; color: #000; font-size: 24px; font-family: 'Gotham-Light'; }

#earn.view .form #email{ font-size: 18px; }

#earn.view .form #code{ color: #999;  }

#earn.view .form #lastVisited,
#earn.view .form #lastTransaction,
#earn.view .form #birthday{ font-size: 14; } 

#earn.view .form #lastTransaction,
#earn.view .form #birthday{ margin-bottom: 12px; } 

#earn.view .form #birthday:before{ content: "Date of Birth: "; }
#earn.view .form #lastVisited:before{ content: "Last Visited Store: "; }
#earn.view .form #lastTransaction:before{ content: "Last Transaction: "; }


#earn.view .form .input {
	text-align: left;
}

#earn.view .form input{
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	font-size: 22px;
	background-color: #fff;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-sizing: border-box;
}
#earn.view .form input#transID { width: 250px; text-align: center; }
#earn.view .form input#earnAmtW { width: 173px; text-align: right; }
#earn.view .form input#earnAmtD { width: 60px; text-align: center; }

#earn.view .form label { display: inline-block; }
#earn.view .form label[for='transID'] { margin-right: 10px; }
#earn.view .form label[for='earnAmtW'] { margin-right: 57px; }

#earn.view .form .decimal {  
	font-size: 30px;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 17px;
}

#earn.view #submit.btn{
	display: inline-block;
	background-color: #8b0304;
    padding: 36px 30px;
    margin-left: 5px;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	vertical-align: top;
}
/*=========== EARN END ===========*/

/*=========== REDEEM START =========*/
#redeem.view{
	background-image: url(images/background/corners.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}

#redeem.view header{
	padding: 15px;
	overflow: hidden;
}
#redeem.view header:before{
	content: "";
	background-image: url(images/logo/bistro.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	width: 190px;
	height: 70px;
	float: left;
}

#redeem.view #logout.btn{
	float: right;
	background-color: #8b0304;
	padding: 10px 20px;
	color: #fff;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#redeem.view #userDetails{
	text-align: center;
	margin: 10px 0;
}

#redeem.view #userDetails #points{ font-size: 28px; color: #8b0304; font-family: 'Gotham-Bold'; }
#redeem.view #userDetails #points:after { 
	content: " Points"; 
	color: #000; 
	font-size: 22px; 
	font-family: 'Gotham-Light'; 
}
#redeem.view #userDetails #points.spent:after { content: " Spend"; }


#redeem.view #userDetails #email,
#redeem.view #userDetails #code,
#redeem.view #userDetails #lastVisited,
#redeem.view #userDetails #lastTransaction,
#redeem.view #userDetails #birthday{ font-size: 14px; }

#redeem.view #userDetails #code{ color: #999; }

#redeem.view #userDetails #birthday,
#redeem.view #userDetails #lastTransaction{ margin-bottom: 12px; }

#redeem.view #userDetails #birthday:before{ content: "Date of Birth: "; }
#redeem.view #userDetails #lastVisited:before{ content: "Last Visited Store: "; }
#redeem.view #userDetails #lastTransaction:before{ content: "Last Transaction: "; }

#redeem.view .form{
	text-align: center;
}

#redeem.view .form input{
	appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 60%;
	padding: 8px;
	margin: 0 auto;
	font-size: 22px;
	background-color: #fff;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-sizing: border-box;
}

#redeem.view .form h5{
	font-size: 18px;
	margin: 20px 0 10px;
}

#redeem.view .form #vouchers{
	width: 75%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

#redeem.view .form #vouchers .voucher{
	position: relative;
    width: 50%;
    margin: 20px auto;
    padding: 12px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

	#redeem.view .voucher__count {
		pointer-events: none;
		position: absolute;
		top: -15px; 
		right: -10px;
		width: 30px;
		height: 30px;
		padding: 8px 5px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		background-color: #8b0304;
		border-radius: 50%;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		box-sizing: border-box;
	}

	#redeem.view .voucher__expiration { pointer-events: none; font-size: 12px; }
	#redeem.view .voucher__expiration::before { content: "Expiration Date: "; }

#redeem.view .form #vouchers .voucher.active-voucher{ box-shadow: inset 0 0 0 5px #8b0304; }
#redeem.view .form #vouchers .voucher.active-voucher .voucher__count{ display: none; }

#redeem.view .form #vouchers .empty-vouchers{
	width: 55%;
	padding-top: 40%;
	margin: auto;
	background-image: url(images/empty-state.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#redeem.view .form #vouchers .loading-vouchers{
	color: #afafaf;
	font-size: 24px;
	font-family: 'Gotham-Bold';
	padding: 20px;
}

#redeem.view #submit.btn{
	display: inline-block;
	background-color: #8b0304;
	padding: 10px 30px;
	margin: 10px auto;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}


/*=========== REDEEM END =========*/

/*=========== REDEEMSUMMARY START =========*/
#redeemSummary.view{
	background-image: url(images/background/corners.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}

#redeemSummary.view .view-content{
	position: absolute;
	width: 60%;
	max-height: 100%;
	padding: 5% 10px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

	text-align: center;
}


#redeemSummary.view .view-content .redeem-summary-points,
#redeemSummary.view .view-content .redeem-summary-vouchers{
	color: #8b0304; 
	font-size: 28px; 
	font-family: 'Gotham-Bold';
}

#redeemSummary.view .view-content .redeem-summary-points{
	width: 60%;
	margin: 0 auto 15px;
	padding: 12px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
#redeemSummary.view .view-content .redeem-summary-points:after{ 
	content: " POINTS"; 
	color: #000;
}

#redeemSummary.view .view-content .redeem-summary-vouchers{
	font-size: 18px;
	color: #000;
}
#redeemSummary.view .view-content .redeem-summary-vouchers:before{ content: "VOUCHERS:";	font-size: 16px; }

#redeemSummary.view .view-content .redeem-summary-vouchers ul{
	margin: 10px auto;
	text-align: left;
}

#redeemSummary.view .view-content .redeem-summary-vouchers ul.error-vouchers{ color: #8b0304; }
#redeemSummary.view .view-content .redeem-summary-vouchers ul.error-vouchers:before{
	content: "Some vouchers were not redeemed: ";
	display: block;
	font-size: 24px;
}

#redeemSummary.view .view-content .redeem-summary-vouchers > div{
	padding: 20px;
	font-family: 'Gotham-Bold';
	color: #cacaca;
}

#redeemSummary.view .view-content .btn{
    display: inline-block;
    background-color: #8b0304;
    padding: 10px 30px;
    margin: 10px auto;
    color: #fff;
    font-size: 22px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*=========== REDEEMSUMMARY END =========*/

/*========== MODAL START =========*/
#modal{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}

#modal .modal-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

	background-color: #fff;

	padding: 10px 10px 60px;
	width: 55%;
	height: 55%;
	box-sizing: border-box;
}

#modal .modal-body{
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

#modal .modal-body .modal-earn-transID,
#modal .modal-body .modal-earn-amount{
	text-align: center;
	padding: 1% 10px;
	font-size: 22px;
	font-family: 'Gotham-Bold';
}

#modal .modal-body .modal-earn-msg,
#modal .modal-body .modal-redeem-msg{
	text-align: center;
	padding: 1% 10px;
	margin-bottom: 10px;
	font-size: 18px;
}

#modal .modal-body .modal-redeem-points,
#modal .modal-body .modal-redeem-vouchers li{
	font-family: 'Gotham-Bold'
}

#modal .modal-body .modal-redeem-points{
	font-size: 22px;
}

#modal .modal-body .modal-redeem-points:before{
	content: "Points: ";
	font-family: 'Gotham-Light';
	font-size: 16px;
}

#modal .modal-body .modal-redeem-vouchers:before{
	content: "Vouchers: ";
	font-family: 'Gotham-Light';
}

#modal .modal-options{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	overflow: hidden;
}

#modal .modal-options .btn{
	float: left;
	width: 50%;
	height: 100%;
	padding: 17px 10px;
	color: #fff;
	text-align: center;
	background-color: #8b0304;
	box-sizing: border-box;
}
#modal .modal-options .btn:first-child{ border-right: 1px solid #610707; }

/*========== MODAL END =========*/

/*========== VOUCHER MODAL START =========*/
#voucherModal{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}

#voucherModal .voucher-modal-box{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 70%;
	text-align: center;
	box-sizing: border-box;
}
#voucherModal .voucher-modal-box.active-box{ display: block; }

#voucherModal .voucher-modal__content {
	background-color: #fff;
	padding: 5%;
}

#voucherModal .voucher-modal__title {
	font-size: 20px;
	font-size: 2vw;
}

#voucherModal .voucher-modal__img {
	display: inline-block;
	width: 60%;
    padding-top: 30%;
    margin-top: 5%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f4f4f4;
}

#voucherModal .voucher-modal-box img{ 
	width: 100%;
	animation: scale 300ms ease both;
	-webkit-animation: scale 300ms ease both;
}

#voucherModal .voucher-modal-close{
	display: inline-block;
	background-color: #8b0304;
    padding: 10px 40px;
    margin: 10px auto;
    color: #fff;
    font-size: 22px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@keyframes scale{
	from{ 
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
	}
	to{ 
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes scale{
	from{ 
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
	}
	to{ 
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
/*========== VOUCHER MODAL END =========*/


